header{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    background-color: aqua;
}

nav{
    align-self: flex-end;
}

main{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgba(230, 219, 71, 0.4);
}

footer{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgba(230,219,71,0.4);
}
